*{margin:0;padding:0;}
body{'NanumBarunGothic', NanumBarunGothic,'돋움',Dotum, Arial,sans-serif}
ul{list-style:none;}
a{text-decoration:none;color:#222}
#mainft1{width:100%;margin:0 auto;border-top:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8}
#ft1{width:960px;margin:0 auto;font-size:13px;}
#ft1:after{display:block;content:"";clear:both;}
#ft_left{float:left;width:622px}
#ft_right{float:right;}
.right_1,.right_2{border:1px solid #e8e8e8;padding:16px 0;background:white}
.right_1{position:absolute;top:-34px;width:176px;display:none}
.right_2{position:absolute;top:-34px;width:171px;display:none}
#ft_left>ul>li{float:left;margin-top:23px;}
#ft_right_1{float:left;position:relative;}
#ft_right_2{float:left;position:relative}

#ft_right_1 a{display:block;width:158px;height:25px;line-height:25px;padding:0 0 0 16px;background:url("image/icon_ft.png") no-repeat;background-position:141px 5px;margin-left:2px}
#ft_right_2 a{display:block;width:135px;height:25px;line-height:25px;padding:0 16px 0 16px;background:url("image/icon_ft.png") no-repeat;background-position:141px 5px;margin-left:2px}
.right_1_op{width:131px;padding:25px 20px 19px 25px;border-left:1px solid #e8e8e8}
body #doline{padding:7px 16px 10px 16px;line-height:16px;background-position:141px 10px;}
.right_1_op span{float:right;margin-top:7px}
.right_2_op span{float:right;margin-top:7px}
.right_2_op{width:114px;padding:25px 20px 19px 25px;border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8}
#ft_left li:nth-child(2){background:url("image/bg_sns.gif")no-repeat;background-position:left 0 top 3px;padding-left:8px;margin-left:7px}
#ft_left li:nth-child(3){background:url("image/bg_sns.gif")no-repeat;background-position:left 0 top 3px;padding-left:8px;margin-left:7px}
#ft_left li:nth-child(4){background:url("image/bg_sns.gif")no-repeat;background-position:left 0 top 3px;padding-left:8px;margin-left:7px}
#ft_left li:nth-child(5){background:url("image/bg_sns.gif")no-repeat;background-position:left 0 top 3px;padding-left:8px;margin-left:7px;}
#ft_left li:nth-child(6){padding-left:12px;padding-right:12px;}
#ft_left li:nth-child(6) a{;color:#777}


#mainft2{width:100%;margin:0 auto;border-bottom:1px solid #e8e8e8}
#ft2{width:960px;margin:0 auto;overflow:hidden;font-size:13px;}
#ft2 ul li{float:left;}
#ft2 img{float:left;}
#ft2 span{float:left;overflow:hidden;}
#ft2 span img{margin-right:20px;padding-top:8px;}
.gs_25app{background:none;padding-left:20px;}
#ft2 .gs_25app img{margin:0;padding:0}
.gs_25{padding:0;background:url("image/btm_bar.gif")no-repeat;background-position:right 0 top 9px;}
#gs25_sns{float:left;width:490px;margin-right:50px;padding-top:14px;padding-bottom:13px;overflow:hidden}
.gs25_sns li{padding-left:15px;padding-top:3px}
.gs25_sns li:last-child{padding-right:15px;}
.gs25_sns{overflow:hidden;float:left;background:url("image/btm_bar.gif")no-repeat;background-position:right 0 top 12px;}
#super_sns{float:right;width:420px;padding-top:14px;padding-bottom:13px;}
.super_sns{overflow:hidden;float:left;background:url("image/btm_bar.gif")no-repeat;background-position:right 0 top 12px;}
.super_sns li{padding-left:15px;padding-top:4px}
.super_sns li:last-child{padding-right:15px;}
.super_app{background:none;padding-left:15px;}
#ft2 .super_app img{margin:0;padding:0}
.super{padding:0;background:url("image/btm_bar.gif")no-repeat;background-position:right 0 top 12px;}
#ft2 .super img{padding-top:12px;}


#mainft3{width:100%;margin:0 auto;border-bottom:1px solid #e8e8e8}
#ft3{width:960px;margin:0 auto;overflow:hidden;font-size:13px;}
#ft3 ul li{float:left;}
#ft3 img{float:left;}
#ft3 span{float:left;overflow:hidden;}
#ft3 span img{margin-right:20px;padding-top:6px;}
#watsons_sns{float:left;width:420px;padding-top:14px;padding-bottom:13px;}
.watsons_sns{overflow:hidden;float:left;background:url("image/btm_bar.gif")no-repeat;background-position:right 0 top 12px;}
.watsons_sns li{padding-left:15px;padding-top:4px}
.watsons_sns li:last-child{padding-right:15px;}
.watapp{background:none;padding-left:15px;}
#ft3 .watapp img{margin:0;padding:0}
.watsns{padding:0;background:url("image/btm_bar.gif")no-repeat;background-position:right 0 top 12px;}
#ft3 .watsns img{padding-top:12px;}

#mainft4{width:100%;margin:0 auto;background:#f2f2f2}
#ft4{width:960px;margin:0 auto;font-size:13px;padding-top:40px;padding-bottom:80px;overflow:hidden;}
#left{overflow:hidden;float:left;width:100%;}
#left div{float:left;}
#left_1{width:800px;padding-bottom:35px;}
#left li{letter-spacing: -1px;float:left;background:url("image/bg_sns.gif")no-repeat;margin-left:8px;padding-left:8px;font-size:12px}
#left li:first-child{background:none;margin:0;padding:0;}
#left li a{color:#666;}
.bold{font-weight:bold}
#left ul{overflow:hidden;}
p{font-size:11px;line-height:20px;letter-spacing: -0.4px;color:#666;}
#right_top{width:160px;float:right;}
#ft4 #right_bottom{float:right;}
#right_top{text-align:right;margin-bottom:25px;}