#footer{width:100%;color:#666;position:relative;margin-top:80px;}
.f_family{display:none;width:900px;margin:0 auto;height:214px;background:#eaeef2;padding: 19px 53px 18px 48px;}
.f_family h3{color:#19325e;font-weight:bold;border-bottom: 1px solid #d1d7dd;padding:0 0 10px 0;margin:0 0 14px 0px}
.f_family ul{overflow:hidden;}
.f_family li{float:left;width:175px;height:80px;border-right:1px solid #d1d7dd;}
.f_family li:nth-child(-n+5){border-bottom:1px solid #d1d7dd}
.f_family li:nth-child(5){border-right:0;}
/* .f_family li a{font-size:12px;background:url(../images/blt_footer_tag.png)no-repeat 84px center;display:inline-block;width:80px;float:right;color:#666;padding:25px 0 24px 95px} */
.f_family li:last-child{border-right:0;}
.f_family li:nth-child(9){background:#eaeef2 url(../images/family_10.png)no-repeat center center;}
.f_family li:nth-child(1){background:#eaeef2 url(../images/family_1.png)no-repeat center center;background-size:110px}
.f_family li:nth-child(2){background:#eaeef2 url(../images/family_2.png)no-repeat center center;background-size:120px}
.f_family li:nth-child(3){background:#eaeef2 url(../images/family_3.png)no-repeat center center;background-size:117px;opacity:0.8}
.f_family li:nth-child(4){background:#eaeef2 url(../images/family_4.png)no-repeat center center;background-size:113px}
.f_family li:nth-child(5){background:#eaeef2 url(../images/family_5.png)no-repeat 7px center;background-size:116px}
.f_family li:nth-child(7){background:#eaeef2 url(../images/family_7.png)no-repeat center center;background-size:120px}
.f_family li:nth-child(8){background:#eaeef2 url(../images/family_8.png)no-repeat center center;background-size:140px;}
.f_family li:nth-child(6){background:#eaeef2 url(../images/family_6.png)no-repeat center center;background-size:140px;}
.f_family li a{width:175px;height:80px;display:inline-block}

.f_privacy{width:100%;background:#666;height:47px;overflow:hidden}
.f_privacy .privatmenu{width:1000px;margin:0 auto;}
.f_privacy ul{overflow:hidden;padding-top:11px;float:left}
.f_privacy li{float:left;}
.f_privacy li a{color:white;position: relative;padding-right:10px;font-size: 13px;}
.f_privacy li a:hover{text-decoration:underline}
.f_privacy li:nth-child(2) a{padding-left:10px;}
.f_privacy li:nth-child(2) a:before {content:"";position: absolute;top: 5px;left: 0;display: block;height: 9px;width: 1px;background-color: #fff;}
.family{float:right;width:180px;height:47px;background:#858585 url(../images/ico_quick_1depth.png)no-repeat 140px center;border-left:1px solid #ccc;border-right:1px solid #ccc;}
.family .site {border: 0;background: no-repeat; font-size: 16px;outline: none;margin-top:15px;margin-left:25px;color:#fff}


.f_copyright{width:1000px;overflow:hidden;margin:0 auto;}
.f_copyright h1{float: left;width: 168px;height: 43px;background: url(../images/logo.gif) no-repeat center center; text-indent: -1000px;overflow: hidden;margin: 40px 40px 0 0;}
.copyright{font-size:14px;display:inline-block;float: left;line-height: 24px;margin-top: 25px}
.copyright strong{display: inline-block;margin: 0 5px}
.copyright02{display: block;font-size: 13px;line-height: 18px;color: #848484;margin-top: 10px;padding-left: 5px;}
