*{margin:0;padding:0;}
ul{list-style:none;}
a{text-decoration:none;}

html,body{width:100%;}
#bdwarp{width:100%;position:relative;}
#bd{width:960px;margin:0 auto 50px;overflow:hidden;}
#bd h3{padding:70px 0;font-size:35px;color:#222;font-weight:bold;letter-spacing:-1px}
#loginwrap{padding:50px 0 40px;border-top:1px solid #6c6c6c;border-bottom:1px solid #e0e0e0;background:#fbfbfb url("../image/join_img1.png")88px 0 no-repeat}
#login{margin-right:100px;padding-left:440px;width:420px;}
.gsloging{font-size:25px;color:#222;font-weight:bold;margin-bottom:20px;}
.gsloging span{color:#397ca8}
#login ul li{font-size:13px;color:#444;line-weight:22px;}
#login ul{margin-bottom:10px;}
.loginform{position:relative;width:384px;}
.job_radio{margin-bottom:10px}
.job_radio label{margin:10px 25px 15px 10px;}
.job_radio .admin{margin-right:0}
.id_pw{overflow:hidden;}
.id_pw label{position:absolute;height:0;line-height:0;overflow:hidden}
.id_pw input{width:283px;height:36px;float:left;text-indent:10px;border:1px solid #dfdfdf;line-height:31px;color:#444;font-size:13px;margin-bottom:7px;}
.loginform p{font-size:13px;}
#fmsub{position:absolute;top:0px;right:0;background:#397ca8;width:97px;height:83px;text-align:center;line-height:83px;color:#fff;font-size:16px;}
#joinwrap{margin-top:30px;overflow:hidden}
#joinwrap p{display:inline-block;letter-spacing:-1.7px;color:#444;font-size:13px;background:url("../image/ico_jum.gif")no-repeat 3px 8px;padding-left:8px;}
.join{width:432px;float:left;overflow:hidden}
.join p{width:270px;}
.join div{float:right;margin-right:30px;}
.join button{padding:7px 15px 7px 18px;text-align:center;color:#444;font-size:13px;border:1px solid #999;background:#fff}
.find{width:528px;float:right;}
.find div{float:right;}
.join p{width:231px;}
.find button{margin:0 10px;padding:7px 12px 7px 15px;text-align:center;color:#444;font-size:13px;border:1px solid #999;background:#fff}

